/platform-energymicro-efm32gg-dk3750
/selected_toolchain
/selected_platformconfig
/selected_ptxconfig
/src
/tests
gerp
grep
README
*.gdb
*.c~
.gitignore~
selected_ptxconfig
selected_platformconfig
selected_toolchain
